.deals-image{
    width: 40px;
    height: 24px;
    object-fit: contain;
    margin-top: 10px;
    margin-left: 5px;
}
.deals-parent{
    background-color: #E0E0E0;
}
.color-grey{
    color:rgba(0, 0, 0, 0.6);
}
.popup-avatar {
    display: block;
    margin: 10px auto 20px auto;
}